.caja{
    height: 200px;
    width: 200px;
    background-color: tomato;
    color:white;
    font-weight: bold;
    font-size: medium;
}

.caja2{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    background-color: rgb(36, 226, 36);
    color:white;
    font-weight: bold;
    font-size: medium;
}