.home{
    max-width: 40px;
    margin-left: 15px;
}

img{
    max-width: 300px;
    margin-left: 40px;
}

.contenedor{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}