<div class="container">
    <div class="banner"><h1><strong>Contenido Privado</strong></h1></div>
<main>
 
    <div class="private-content">
        <div class="info"><mat-icon>info</mat-icon>INFO
        <br/>
            <code>Acabas de hacer login utilizando Authentication de Firebase, utilizando CanActivate en un loginguard</code>
        </div>

        <p>Bienvenido a nuestra Área Privada. Aquí tienes acceso exclusivo a una variedad de recursos y contenido de alta calidad.</p>
        
        <h2>Recursos Descargables</h2>
        <p>Descarga nuestros ebooks, guías y documentos exclusivos para mejorar tus habilidades y conocimientos en tu área de interés.</p>
        
        <h2>Artículos Exclusivos</h2>
        <p>Explora nuestra colección de artículos premium escritos por expertos en la industria. Mantente actualizado sobre las últimas tendencias y novedades.</p>
        
        <h2>Eventos Privados</h2>
        <p>Como miembro de nuestra Área Privada, tienes acceso a eventos y webinars exclusivos. Conéctate con otros profesionales y amplía tu red.</p>
        
        <p>Disfruta de todos estos beneficios y más al ser parte de nuestra comunidad autenticada. ¡Gracias por confiar en nosotros!</p>
    </div>
</main>

<footer>
    <p>&copy; 2023 Tu Empresa. Todos los derechos reservados.</p>
</footer>
</div>