.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    width: 350px;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1{
    text-align: center;
  }

  .pointer{
    cursor:pointer;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  button{
    
    border: 1px solid black;
    margin-right: 20px;
  
  }

  .botones{
    display: flex;
    justify-content: center;
  }

//Tabla
.table-container {
  overflow-x: auto; /* Agrega un scroll horizontal cuando sea necesario */
  max-width: 100%; /* Ajusta el ancho máximo del contenedor */
}

table {
  width: 100%; /* Ajusta el ancho de la tabla al 100% del contenedor */
}

/* Añade reglas de texto truncado para las celdas */
td.mat-cell {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  text-overflow: ellipsis;
}

